<div class="container my-4">
  <h2 class="fw-bold mb-4 text-center">
    Wybierz pojazd dla zamówienia <span class="text-primary">#<%= @order.order_number %></span>
  </h2>

  <% if @available_vehicles.any? %>
    <div class="row g-3">
      <% @available_vehicles.each do |vehicle| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card h-100 p-3 shadow-sm d-flex flex-column">
            <p><strong>Pojazd:</strong> <%= vehicle.brand %> - <%= vehicle.registration_number %></p>
            <p><strong>Status:</strong> <%= vehicle.status %></p>
            <p><strong>Wymagana kategoria prawa jazdy:</strong> <%= vehicle.required_license %></p>
            <%= link_to "Wybierz", assign_driver_dispatcher_order_path(@order, vehicle_id: vehicle.id), class: "btn btn-primary mt-auto" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted">Brak dostępnych pojazdów dla tego typu zamówienia.</p>
  <% end %>

  <!-- Przycisk powrotu na dole -->
  <div class="mt-4 d-flex justify-content-start">
    <%= link_to dispatcher_order_path(@order), class: "btn btn-outline-secondary btn-lg rounded-pill d-flex align-items-center gap-2" do %>
      <i class="bi bi-arrow-left-circle-fill fs-4"></i>
      Powrót do zamówienia
    <% end %>
  </div>
</div>
