<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h3 class="mb-4 fw-bold text-start">Podgląd zamówienia</h3>

      <div class="card shadow-lg rounded-4 border-0">
        <div class="card-body p-5">
          <!-- Order details -->
          <div class="row mb-4">
            <div class="col-md-6">
              <p class="mb-2"><strong>Adres odbioru:</strong> <%= @order.pickup_address %></p>
              <p class="mb-2"><strong>Adres dostawy:</strong> <%= @order.delivery_address %></p>
              <p class="mb-2"><strong>Pojazd:</strong> <%= @order.vehicle_type&.name %></p>
              <p class="mb-2"><strong>Usługa:</strong> <%= @order.service_type&.name %></p>
            </div>
            <div class="col-md-6">
              <p class="mb-2"><strong>Dystans:</strong> <%= @order.distance_km.round(2) %> km</p>
              <p class="mb-2"><strong>Czas dostawy:</strong> <%= @order.travel_time %> h</p>
              <p class="mb-2"><strong>Przewidywana data dostawy:</strong> <%= @order.delivery_date&.strftime("%d-%m-%Y %H:%M") %></p>
              <p class="mb-2"><strong>Cena:</strong> <%= number_to_currency(@order.price, unit: "PLN") %></p>
            </div>
          </div>

       <!-- Map -->
      <div div id="map" class="mb-4 rounded-3" style="height: 400px;"
          data-controller="order-map"
          data-order-map-pickup-lat-value="<%= @order.pickup_lat %>"
          data-order-map-pickup-lon-value="<%= @order.pickup_lon %>"
          data-order-map-delivery-lat-value="<%= @order.delivery_lat %>"
          data-order-map-delivery-lon-value="<%= @order.delivery_lon %>"
          data-order-map-ors-api-key-value="<%= @ors_api_key %>">
      </div>

      <!-- Leaflet CSS/JS -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

          <!-- Order Form -->
          <div class="d-flex justify-content-end mt-4">
            <%= form_with url: orders_path, method: :post do %>
              <%= submit_tag "Zamawiam", class: "btn btn-lg btn-dark px-5 rounded-pill shadow-sm custom-submit" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

